// ================================== //
// Required Files
// ================================== //
@import "~vuetify/src/styles/styles.sass";
@import "custom-variable";

// ================================== //
// Vuetify overrides
// ================================== //
@import "vuetify/overrides";

// ================================== //
// Template Common Components
// ================================== //
@import "template/header";
@import "template/footer";
@import "template/navigation";
@import "template/animation";

// ================================== //
// Sections
// ================================== //
@import "template/section/banner";
@import "template/section/coming";
@import "template/section/ui";
@import "template/section/section-header";
@import "template/section/features";
@import "template/section/portfolio";
@import "template/section/pricing";
@import "template/section/team";
@import "template/section/testimonial";
@import "template/section/blog";
@import "template/section/c2a";
@import "template/section/contact";
@import "template/section/showcase";
@import "template/section/jumbotron";
@import "template/section/faq";

.theme--light.v-card.card-active {
  border: 2px solid #0099cc;
}

.theme--light svg {
  color: #0099cc;
}

.custom-loader {
  animation: loader 1s infinite;
  display: flex;
}
@-moz-keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@-o-keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

input, fieldset {
  background-color: #ffffff;
}
