.faq-component {
  .svg-inline--fa {
    width: 20px;
    height: auto;
    margin-right: 5px;
  }
  .accordion-heading {
    margin-top: 5px;
    a {
      font-size: 17px;
      color: #0099cc;
    }
  }
  .accordion-inner {
    padding-top: 10px;
  }
}

.faq .svg-inline--fa {
  color: #0099cc;
  font-size: 35px;
  padding-left: 0;
  margin-right: 20px;
}
